# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
.idea/
.vscode/
# Android
android/.gradle/
android/.kotlin/
android/local.properties
android/key.properties
*.jks
*.keystore
# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Generated.xcconfig
# Secrets
.env
server/.env
server/node_modules/
